body {
  padding: 0; 
  margin: 0; 
  height: 100%; 
  width: 100%;
}

#map { 
  position: absolute;
  height: 100%;
  width: 80%;
  float: left;
  border-right: 1px dotted black;
}

#countries {
  text-align: center;
  background: grey;
  width: 80%;
  margin-left: 10%;
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  clear: both;
  margin-top: 65px;
}

.select2-container {
  width: 80%;
}

#sidebar {
  height: 100%;
  width: 20%;
  float: right;
  margin-top: 13px;
}

.icon {
  background:#ff9d8b;
  text-align:center;
  vertical-align:middle;
  border:1px solid #ff3814;
  border-radius:50px;
  line-height:40px;
  opacity: 0.8;
}

.leaflet-container .leaflet-control-attribution {
  background: none;
}

.links div {
  float: left;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 38%;
  background: grey;
  margin-bottom: 10px;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

a.links {
  text-decoration: none;
  color: black;
}

.infobox {
}

.left {
  margin-left: 10%;
}
.right {
  margin-left: 4%;
}