body {
  padding: 0; 
  margin: 0; 
  height: 100%; 
  width: 100%;
}

#map { 
  position: absolute;
  height: 100%;
  width: 100%;
}

#countries {
  position: relative;
  top: 9px;
  float: right;
  right: 10px;
  z-index: 7;
}

.select2-container {
  width: 300px;
}