body {
  padding: 0; 
  margin: 0; 
  height: 100%; 
  width: 100%;
  /*background: #bbb;*/
  background: black;
}

#map { 
  position: absolute;
  height: 100%;
  width: 80%;
  float: left;
}

#countries {
  margin-top: 15px;
  text-align: center;
  height: 60px;
  border-bottom: 1px solid #aaa;
}

.select2-container {
  width: 90%;
}

#sidebar {
  width: 20%;
  margin-top: 20px;
  float: right;
}

.icon {
  background:#ded8cb;
  text-align:center;
  vertical-align:middle;
  border:1px solid #ff3814;
  border-radius:50px;
  line-height:40px;
  opacity: 0.8;
}

.leaflet-container .leaflet-control-attribution {
  background: none;
}